In [ ]:
from vega_datasets import data
import pandas as pd
cars = data.cars()

In [ ]:
cars.head()

                        Name  Miles_per_Gallon  ...       Year  Origin
0  chevrolet chevelle malibu              18.0  ... 1970-01-01     USA
1          buick skylark 320              15.0  ... 1970-01-01     USA
2         plymouth satellite              18.0  ... 1970-01-01     USA
3              amc rebel sst              16.0  ... 1970-01-01     USA
4                ford torino              17.0  ... 1970-01-01     USA

[5 rows x 9 columns]